In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd

In [2]:
#변수
x = np.arange(10).reshape(-1,1)
y = (2*x+1).reshape(-1,1)

In [3]:
#모델 선언
model = LinearRegression()

#모델 학습 fit(데이터, 예측값)
model.fit(x, y)

LinearRegression()

In [5]:
#모델 예측
prediction = model.predict([[10.0]])

#예측값 확인
prediction

array([[21.]])

In [ ]:
"""
X: 
-features라고 불림
-x_train, x_test
-학습을 위한 데이터 세트, 예측할 값은 빠져있음.
-ex) 지역, 평형정보, 층수정보, 동네, 거주민 평균나이...

Y:
-labels라고 불림
-y_train, y_test
-예측해야할 값, 예측값만 존재
-ex) 집 값

학습을 위한 데이터 = Training Set
- 모델이 학습하기 위해 필요한 데이터
- feature / label이 모두 존재

예측을 위한 데이터 = Test Set
-모델이 예측하기 위한 데이터
-feature 만 존재

코드예시
model = LinearRegression()
model.fit(x_train, y_train)
prediction = model.predict(x_test)
"""
#검증데이터
"""
과대적합 / 과소적합
Training Error는 학습할수록 계속 떨어짐
Testing Error는 어느지점까지는 떨어지다가 다시 올라감
이 두지점이 같이 가장 적은 Error가있는 지점을 찾는것이 임무!

Training Set 
-Training Set = 학습을 위한 데이터 (80%)
-Validation Set = 검증을 위한 데이터 (20%)
Test Set

*절대 학습할때 Validation Set가 관여되면 안됨 (섞이면 X)
"""
"""
1.정규화
-0~1사이의 분포로 조정

2. 표준화
-평균을 0, 표준편차를 1로 맞춤
"""

In [ ]:
#실습

In [6]:
#타이타닉 데이터셋(출처: 캐글)
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
#컬럼설명
"""
PassengerId: 승객 아이디
Survived: 생존여부 1: 생존 0: 사망
Pclass: 등급
Name: 성함
Sex: 성별
Age: 나이
SibSp: 형제, 자매, 배우자 수
Parch: 부모, 자식 수
Ticket: 티켓번호
Fare: 요금
Cabin: 좌석번호
Embarked: 탑승 항구
"""

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-8-dc48ac975d2b>, line 14)

In [ ]:
#train / validation 세트 나누기
"""
1. feature 과 label 을 정의
2. feature / label을 정의 했으면, 적절한 비율로 train / validation set을 나눔
"""

In [10]:
#학습데이터
feature = ['Pclass', 'Sex', 'Age', 'Fare']

#예측데이터
label = ['Survived']

In [ ]:
"""
test_size: validation set에 할당할 비율 (20% -> 0.2)
shuffle: 셔플 옵션 (기본: True)
random_state: 랜덤 시드값
"""

In [11]:
#train set, validation set 나누기 작업 (train_test_split)

x_train, x_valid, y_train, y_valid = train_test_split(train[feature], train[label], test_size=0.2, random_state = 30)

((712, 4), (712, 1))

In [12]:
x_train.shape, y_train.shape

((712, 4), (712, 1))

In [13]:
x_valid.shape, y_valid.shape

((179, 4), (179, 1))