In [40]:
#원 핫 인코딩 
from sklearn.preprocessing import LabelEncoder

In [44]:
train = pd.read_csv('https://bit.ly/fc-ml-titanic')

In [45]:
train['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [46]:
train['Embarked'] = train['Embarked'].fillna("S")

In [47]:
train['Embarked_num'] = LabelEncoder().fit_transform(train['Embarked'])

In [48]:
train['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [ ]:
"""
Embarked는 탑승 항구의 이니셜을 나타냈습니다
그런데, 우리는 이전에배운 내용처럼 LabelEncoder를 통해서 수치형으로 변환해 주었습니다.
하지만, 이대로 데이터를 기계학습을 시키면, 기계는 데이터 안에서 관계를 학습힙니다
즉 'S' = 2, 'Q' = 1 이라고 되어 있는데, Q+Q=S 가된다고 학습해버림

그렇기 때문에 독립적인 데이터는 별도의 Column으로 분리하고 각각의 컬럼에 해당값에만 True
나머지는 False를 갖습니다 우리는 이것을 원핫 인코딩 한다라고 함.
"""

In [52]:
train['Embarked'][:6]

0    S
1    C
2    S
3    S
4    S
5    Q
Name: Embarked, dtype: object

In [53]:
train['Embarked_num'][:6]

0    2
1    0
2    2
3    2
4    2
5    1
Name: Embarked_num, dtype: int32

In [54]:
pd.get_dummies(train['Embarked_num'][:6])

   0  1  2
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

In [56]:
one_hot = pd.get_dummies(train['Embarked_num'][:6])

In [59]:
one_hot.columns = ['C','Q','S']

In [60]:
one_hot

   C  Q  S
0  0  0  1
1  1  0  0
2  0  0  1
3  0  0  1
4  0  0  1
5  0  1  0

In [ ]:
"""
이렇게 column을 분리시켜 카테고리형 - > 수치형으로 변환하면서 생기는 수치형 값의 관계를 
끊어줘서 독립적인 형태로 바꿈
"""

In [20]:
#정규화

from sklearn.preprocessing import MinMaxScaler
import pandas as pd
import numpy as np

In [5]:
movie = {
    'naver' : [2,4,6,8,10],
    'netflix' : [1,2,3,4,5]
}

In [8]:
movie = pd.DataFrame(movie)
movie

   naver  netflix
0      2        1
1      4        2
2      6        3
3      8        4
4     10        5

In [10]:
min_max_scaler = MinMaxScaler()

In [12]:
min_max_Movie = min_max_scaler.fit_transform(movie)

In [14]:
pd.DataFrame(min_max_Movie , columns = ['naver','netflix'])

   naver  netflix
0   0.00     0.00
1   0.25     0.25
2   0.50     0.50
3   0.75     0.75
4   1.00     1.00

In [15]:
#표준화

In [16]:
from sklearn.preprocessing import StandardScaler

In [18]:
standard_scaler = StandardScaler()

In [21]:
x = np.arange(10)
x[9] = 1000

In [23]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [25]:
scaled = standard_scaler.fit_transform(x.reshape(-1,1))

In [27]:
x.mean(), x.std()

(103.6, 298.8100399919654)

In [30]:
scaled.mean(), scaled.std()

(4.4408920985006264e-17, 1.0)

In [33]:
round(scaled.mean(),2)

0.0